
body{
    background-image: linear-gradient(black,rgb(71, 203, 255));
    background-attachment: fixed;
    background-repeat: no-repeat;
    place-items: center;
}   

/* .box{
    background-color: black;
    position: absolute;
    width: 100%;
    height: 150px;
} */


.group{
   position: absolute; 
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   justify-self: center;
   border-radius: 30px;
   top: 100px;
   background-color: rgba(189, 189, 189, 0.559);
   width: 300px;
   height: 400px;
   transition: 1s;
   color: rgba(248, 248, 248, 0);
}

.group:hover{
     background-color: black;
     box-shadow: 0px 0px 5px rgba(158, 255, 255, 0.986)
                ,0px 0px 25px rgba(162, 255, 255, 0.986)
                ,0px 0px 50px rgba(162, 255, 255, 0.986);
     text-shadow: 0px 0px 5px rgba(158, 255, 255, 0.986)
                ,0px 0px 20px rgba(162, 255, 255, 0.986)
                ,0px 0px 30px rgba(162, 255, 255, 0.986);
     transition: 1s;
}

.group>h1{
   
}

input{
    font-size: 16px;
    display: block;
    width: 200px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.256);
    position: relative;
    left: 11%;
    border:none;
    border-radius: 10px;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
   
}

input:hover{
    color: white;
    font-family: sans-serif;
}

div>h1{
    font-family: sans-serif ;
    font-size: 40px;
    font-weight: bolder;
    color :aliceblue;
    position:relative;
    top: 15px;
    left: 50px;
     border-radius: 20px;
}
 
.group>.button{
    border:none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 50px;
    background-color: rgb(104, 190, 190);
    position: relative;
    top: 23px;
    left:50px;
    color:aliceblue;
    font-family: sans-serif;
    font-weight: bold;
    transition: 1s;
    
}

.group>.button:hover{
    cursor: pointer;
    color:rgb(255, 255, 255);
    transform: scale(1.2);
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 5px rgba(158, 255, 255, 0.986)
                ,0px 0px 25px rgba(162, 255, 255, 0.986)
                ,0px 0px 50px rgba(162, 255, 255, 0.986);

    text-shadow: 0px 0px 5px rgba(158, 255, 255, 0.986)
                ,0px 0px 20px rgba(162, 255, 255, 0.986)
                ,0px 0px 30px rgba(162, 255, 255, 0.986);
}

.contactBox{
    background-color: black;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom:0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    padding: 3px;
    transition: 0.5s;
}

.contactBox:hover{
    transition: 0.5s;
     box-shadow: 0px 0px 5px rgba(1, 36, 36, 0.986)
                ,0px 0px 25px rgba(3, 23, 23, 0.986)
                ,0px 0px 50px rgba(0, 0, 0, 0.986);
}

.contactBox>a>img{
    width: 35px;
    border-radius: 200px;
    border: none;
    position: relative;
    top: 13px;
    left :30px;
    padding:5px;
    transition: 1s;
}

.contactBox>a>img:hover{
    transform: scale(1.5) translateY(-10px) ;
    transition: 1s;
}

.contact{
    color:rgb(251, 253, 255);
    position: absolute;
    top: 22px;
    left: 45%;
    

    font-family: sans-serif;
    font-style:italic;
    transition: 1s;
}

.contact:hover{
     transform: scale(1.5)  rotate(-10deg);
     transition: 1s;
}

